<head>
  <title>MeteorChat</title>
</head>

<body>
  <div class="container">
    <div class="row header">
      <div class="col-xs-12">
        <h1>MeteorChat</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{> chatbox}}
      </div>
    </div>
  </div>
</body>