html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #F0F0F0;
}

.header {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 1px rgba(0,0,0,1), 0 0 1px rgba(0,0,0,1);
}