#chatbox {
  .message-box {
    height:390px;
    overflow-y:auto;
    border:1px solid #ccc;
    background: white;
    border-radius:2px
  }

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {
    background:transparent;
    border: {
      left: none;
      right: none;
    }
    word-break: break-word;
    &:first-child {
      border-top:none;
    }
    &:last-child {
      border-bottom:none;
    }

    img {
      display:block;
      max-width: 50%;
    }
  }

  .input-group {
    margin-top: 20px;
  }
}