<template name="chatbox">
  <div id="chatbox">
    <div class="row">
      <div class="col-xs-12">
        {{> message_box ..}}
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
      {{> chat_controls}}
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /#chatbox -->
</template><!-- /chatbox -->

<template name="message_box">
  <div class="message-box">
    <ul class="list-group">
      {{#each messages}}
        {{> message}}
      {{/each}}
    </ul><!-- /.list-group -->
  </div><!-- /.message-box -->
</template>

<template name="message">
  <li class="list-group-item">{{content}}</li>
</template><!-- /message -->

<template name="chat_controls">
  <div class="chat-controls">
    <form class="new-message-form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Type a message..." name="new_message_input">
        <span class="input-group-btn">
          <input class="btn btn-default" type="submit" value="Send">
        </span><!-- /.input-group-btn -->
      </div><!-- /.input-group -->
    </form><!-- /.new-message-form -->
  </div><!-- /.chat-controls -->
</template><!-- /chat_controls -->